{% extends 'app_owner_dotnet/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner_dotnet/main/css/main.css' %}">
{% endblock css %}

{% block content %}

<div class="dotnet_main_wrap">
    <div class="content_inner">
        <div class="reserve_txt_wrap">
            <div class="reserve_area">
                <h2>오늘(7월 27일) <br>
                    <span>실시간 예약</span>을 오픈할까요?
                </h2>
            </div>
            <div class="reserve_time">
                <p>예약 가능 시간</p>
                <span>AM 11:00 ~ PM 2:00</span>
            </div>
        </div>

        <div class="reserve_btn_wrap">
            <div class="reserve_not">
                <a href="javascript:;">아니오</a>
            </div>
            <div class="reserve_open">
                <a href="javascript:;">오픈하기</a>
            </div>
        </div>

        <div class="problem">
            <div class="problem_txt">
                <p>프로그램 사용에 문제가 있으신가요? <br>
                    고잇팀(<span>070-4006-7014</span>)에 문의해 주세요.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}