.stamp_save {
    padding: 88px 20px;
}

.stamp_save h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.save_content {
    padding-top: 170px;
}

.save_txt {
    font-size: 23px;
    text-align: center;
    color: #000;
    line-height: 1.35;
}

.save_txt span {
    color: #ff3140;
    font-weight: bold;
}

.submit {
    display: flex;
    justify-content: center;
    padding-top: 240px;
}

.submit a {
    display: block;
    width: 100%;
    max-width: 335px;
    min-width: 280px;
    height: 54px;
    line-height: 54px;
    text-align: center;

    background: #ff3140;
    border-radius: 14px;
    color: #fff;
    font-size: 24px;
}