{% load static %}
{% load hosts %}

<link rel="stylesheet" href="{% static 'app_owner/reserve/reject/css/style.css' %}">

<div class="reject_content">
  <div class="radio_wrap">
    <label class="radio">
      <input name="reject" type="radio">
      <p class="radio_style">
        테이블 만석
      </p>
    </label>
    <label class="radio">
      <input name="reject" type="radio">
      <p class="radio_style">
        테이블 만석
      </p>
    </label>
    <label class="radio">
      <input name="reject" type="radio">
      <p class="radio_style">
        테이블 만석
      </p>
    </label>
  </div>

  <button class="btn_fill">
    확인
  </button>
</div>