{% load static %}
{% load hosts %}
{% load version %}
{% load date %}
{% load reserve %}

<link rel="stylesheet" href="{% static 'app_owner/base/css/date.css' %}?version={{ 'version'|version }}">
<link rel="stylesheet" href="{% static 'app_owner/reserve/css/style.css' %}?version={{ 'version'|version }}">

<div class="reserve_box">
  <h2 class="section_title">
    예약 내역
  </h2>
  <div class="top_area">
    <div class="info_box">
      <div class="date_wrap">
        <span class="date_title">
          날짜 :
        </span>
        <p class="datepicker_box">
          <input class="start_datepicker" readonly />
          <span>
            ~
          </span>
          <input class="end_datepicker" readonly />
        </p>
        <button class="btn_fill" onclick="readReserve()">
          날짜변경
        </button>
      </div>
      <div class="info">
        <span class="info_title">
          예약정보 :
        </span>
        <div class="info_desc">
          <p class="desc_wrap">
            <span>
              예약 신청 : {{ count_set.apply_count }}회
            </span>
            <span>
              예약 승인 : {{ count_set.confirm_count }}회
            </span>

            <span>
              예약 거절 : {{ count_set.decline_count }}회
            </span>
            <span>
              예약 무응답 : {{ count_set.noresponse_count }}회
            </span>
          </p>
          <p class="desc_wrap">
            <span>
              손님 도착 : {{ count_set.arrived_count }}회
            </span>
            <span>
              예약 취소 : {{ count_set.cancel_count }}회
            </span>
          </p>

        </div>
      </div>
    </div>
    <div class="note_box">
      <div class="note">
        3분안에 예약 승인을 안누르면 자동으로<br />
        예약 거절이 되고 실시간 예약 등록이 꺼집니다.
      </div>
    </div>
  </div>
  <div class="reserve_table">
    <div class="table_header layout">
      <div class="layout_order">
        <span>
          순번
        </span>
      </div>
      <div class="layout_time">
        <span>
          도착 시간
        </span>
      </div>
      <div class="layout_number">
        <span>
          식사 인원
        </span>
      </div>
      <div class="layout_status">
        <span>
          상태
        </span>
      </div>
      <div class="layout_note">
        <div class="reroad_wrap">
          <span>
            손님이 도착하면<br /> 손님 도착을 꼭 눌러주세요!
          </span>
          <img class="refresh_icon" src="{% static 'app_owner/base/images/refresh.svg' %}" alt="" onclick="reserve()">
        </div>

      </div>
    </div>
    <ul class="table_content scroll_style">

      {% for item in reservation %}

      {{ request|reserve_set:item|safe }}

      {% endfor %}

      {% for item in reservation_not_active %}

      {{ request|reserve_set:item|safe }}

      {% endfor %}

    </ul>
  </div>
</div>

{% include 'app_owner/base/date.html' %}
{% include 'app_owner/reserve/js.html' %}
{% include 'app_owner/reserve/callback/js.html' %}