{% load static %}
{% load hosts %}
{% load version %}
{% load date %}

<script>
    $('.start_datepicker').val('{{start_dttm}}');
    $('.end_datepicker').val('{{end_dttm}}');

    clearInterval(interval1);
    clearInterval(interval2);
    clearInterval(interval3);

    // 새로운 예약 확인
    var interval1 = setInterval(() => {
        $.post({
            url: "{% host_url 'get_reserve' host 'owner' %}",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data: { list_id: '' },
            success: (result) => {
                if (result != "") $('#li_section1').prepend(result);
            },
            error: (result) => {
                Swal.fire({
                    icon: 'warning',
                    text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
                    confirmButtonText: '확인',
                    confirmButtonColor: '#ff0034'
                });
            }
        })

        list_sort();

        //넘버링 재정렬
        $(".reserve_idx").each((idx, item) => {
            $(item).text(idx + 1);
        });


    }, 1000);

    // 타이머 처리
    var interval2 = setInterval(() => {
        $(".limit_time[data-state='False']").each((idx, item) => {
            let now = new Date();
            let limit_time = new Date($(item).attr('data-limit-time'));
            let result = limit_time.getTime() - now.getTime();
            let result2 = new Date(result);

            let min = result2.getMinutes() > 9 ? result2.getMinutes() : `0${result2.getMinutes()}`;
            let sec = result2.getSeconds() > 9 ? result2.getSeconds() : `0${result2.getSeconds()}`;

            if (result < 0) $(item).text(`무응답 처리예정`);
            else $(item).text(`남은시간 ${min}:${sec}`);
        })
    }, 500);

    // 데이터 확인
    var interval3 = setInterval(() => {
        init_list();
    }, 5000);

    function init_list() {
        $("#li_section1 li").each((idx, item) => {
            $.post({
                url: "{% host_url 'get_reserve' host 'owner' %}",
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                data: { list_id: `${$(item).data('key')}` },
                success: (result) => {

                    var number = $(item).find(".reserve_idx").html();
                    var timer = $(item).find(".limit_time[data-state='False']").html();

                    var dom = $(result.dom);
                    dom = $(dom)[2]

                    $(dom).find(".reserve_idx").html(number);
                    $(dom).find(".limit_time[data-state='False']").html(timer);

                    if (result.result) $(item).html(dom.innerHTML)
                    else {
                        $(item).remove();
                        $('#li_section2').prepend($(dom));
                    }

                },
                error: (result) => {
                    Swal.fire({
                        icon: 'warning',
                        text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
                        confirmButtonText: '확인',
                        confirmButtonColor: '#ff0034'
                    });
                }
            })
        });
    }

    async function submit_reserveReject() {
        _reason = $("input[name='reject']:checked").val();
        modalClose();
        update(_elem, _list_id, 'reject', _reason);
    }

    async function submit_reserveCancel() {
        _reason = $("input[name='cancel']:checked").val();
        modalClose();
        update(_elem, _list_id, 'cancel', _reason);
    }

    function update(elem, list_id, type, msg = '') {

        _list_id = list_id;

        $.post({
            url: "{% host_url 'set_reserve' host 'owner' %}",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data: {
                list_id: list_id,
                type: type,
                msg: msg
            },
            success: (result) => {
                $.post({
                    url: "{% host_url 'get_reserve' host 'owner' %}",
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    data: { list_id: list_id },
                    success: (result) => {

                        Swal.fire({
                            icon: 'success',
                            text: `상태가 변경되었습니다.`,
                            confirmButtonText: '확인',
                            confirmButtonColor: '#ff0034'
                        })

                        if (type == "reject" || type == "cancel") onClickToggle($('.toggle'), false);
                    },
                    error: (result) => {
                        Swal.fire({
                            icon: 'warning',
                            text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
                            confirmButtonText: '확인',
                            confirmButtonColor: '#ff0034'
                        })
                    }
                })

            },
            error: (result) => {
                Swal.fire({
                    icon: 'warning',
                    text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
                    confirmButtonText: '확인',
                    confirmButtonColor: '#ff0034'
                })
            }
        })
    }

    function list_sort() {

        var elems = $('#li_section1').children('li').get();

        elems.sort(function (a, b) {
            var val1 = $(a).data('key');
            var val2 = $(b).data('key');
            return (val1 < val2) ? 1 : (val1 > val2) ? -1 : 0;
        });

        $.each(elems, function (index, row) {
            $('#li_section1').append(row);
        });

        var elems2 = $('#li_section2').children('li').get();

        elems2.sort(function (a, b) {
            var val1 = $(a).data('key');
            var val2 = $(b).data('key');
            return (val1 < val2) ? 1 : (val1 > val2) ? -1 : 0;
        });

        $.each(elems2, function (index, row) {
            $('#li_section2').append(row);
        });
    }

    // 날짜변경
    function readReserve() {
        startDttm = $('.start_datepicker').val();
        endDttm = $('.end_datepicker').val();
        reserve();
    }


</script>