{% extends 'app_owner/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner/coupon/css/coupon.css' %}">
{% endblock css %}

{% block content %}

<div class="coupon">
    <div class="coupon_title">
        <div class="title_txt">
            <h2>쿠폰 사용 내역</h2>
            <p>이번 달 총 사용: <span>00개</span></p>
        </div>
        <div class="select_area">
            <select name="" id="">
                <option value="">2021.07.27</option>
                <option value="">2021.07.26</option>
                <option value="">2021.07.25</option>
                <option value="">2021.07.24</option>
                <option value="">2021.07.23</option>
                <option value="">2021.07.22</option>
                <option value="">2021.07.21</option>
                <option value="">2021.07.20</option>
                <option value="">2021.07.19</option>
                <option value="">2021.07.18</option>
            </select>
        </div>
    </div>

    <div class="coupon_list">
        <ul>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
        </ul>
    </div>
</div>


</div>

{% endblock content %}