{% extends 'app_owner/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner/coupon/css/coupon.css' %}">
{% endblock css %}

{% block content %}

<div class="coupon">
    <div class="coupon_title">
        <h2>쿠폰 사용 내역</h2>
    </div>

    <div class="coupon_title_content">
        <div class="title_txt">
            <p>이번 달 총 사용: <span>00개</span></p>
        </div>
        <div class="times_content times_select">
            <div class="week_area" onclick="week(this)">
                <p>2021.07.28</p>
            </div>
            <div class="week_list">
                <ul>
                    <li>
                        <p>2021.07.27</p>
                    </li>
                    <li>
                        <p>2021.07.26</p>
                    </li>
                    <li>
                        <p>2021.07.25</p>
                    </li>
                    <li>
                        <p>2021.07.24</p>
                    </li>
                    <li>
                        <p>2021.07.23</p>
                    </li>
                    <li>
                        <p>2021.07.22</p>
                    </li>
                    <li>
                        <p>2021.07.21</p>
                    </li>
                    <li>
                        <p>2021.07.20</p>
                    </li>
                    <li>
                        <p>2021.07.19</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="coupon_list">
        <ul>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>1,000원 할인</p>
                </div>
                <div class="phon">
                    <p>2021.07.28 AM 12:29</p>
                    <span>010-****-1234</span>
                </div>
            </li>
        </ul>
    </div>
</div>


</div>

{% block bottom_js %}
<script>
    function week(el) {
        var Sib = $(el).siblings('.week_list')[0];

        if (!($(Sib).hasClass('active'))) {
            $(Sib).addClass('active');
        }
    }

    $('.week_list li p').click(function () {
        var listText = $(this).text();

        $('.week_area p').text(listText);
        $('.week_list').removeClass('active');
    })
</script>
{% endblock bottom_js %}

{% endblock content %}