.notice_title {
    padding: 64px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    border-bottom: 2px solid rgba(0, 0, 0, 0.5);;
}

.notice_title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.notice_title p {
    font-size: 14px;
    color: #000;
}

.notice_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);    
    text-align: center;
}

.bottom_logo img {
    display: none;
}