<script type="text/babel">

  // gijgo datepicker 한글 패치 커스텀
  gj.core.messages['ko'] = {
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthShortNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    weekDaysMin: ['일', '월', '화', '수', '목', '금', '토'],
    weekDaysShort: ['일', '월', '화', '수', '목', '금', '토'],
    weekDays: ['일', '월', '화', '수', '목', '금', '토'],
    am: "오전",
    pm: "오후",
    ok: "확인",
    cancel: "취소",
    titleFormat: "yyyy년 mmmm",
  }

  $('.start_datepicker').datepicker({
    format: 'yyyy.mm.dd',
    value: getTodayFormat(),
    showRightIcon: false,
    modal: true,
    locale: 'ko'
  });

  $('.end_datepicker').datepicker({
    format: 'yyyy.mm.dd',
    value: getTodayFormat(),
    showRightIcon: false,
    modal: true,
    locale: 'ko'
  });

  function getTodayFormat() {
    const date = new Date();
    const year = date.getFullYear();
    const month = ("0" + (1 + date.getMonth())).slice(-2);
    const day = ("0" + date.getDate()).slice(-2);

    return (`${year}.${month}.${day}`);
  }

</script>