<script>

  $.datepicker.setDefaults({
    dateFormat: 'yymmdd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년'
  });

  $('.start_datepicker').datepicker({
    format: 'yyyy.mm.dd',
    value: getTodayFormat(),
    showRightIcon: false,
    modal: true
  });
  $('.end_datepicker').datepicker({
    format: 'yyyy.mm.dd',
    value: getTodayFormat(),
    showRightIcon: false,
    modal: true
  });

  // $('#start_datepicker').datepicker({
  // maxDate: function () {
  //   var date = new Date();
  //   date.setDate(date.getDate());
  //   return new Date(date.getFullYear(), date.getMonth(), date.getDate());
  // }
  // });

  function getTodayFormat() {
    const date = new Date();
    const year = date.getFullYear();
    const month = ("0" + (1 + date.getMonth())).slice(-2);
    const day = ("0" + date.getDate()).slice(-2);

    return (`${year}.${month}.${day}`);
  }

</script>