{% load static %}
{% load hosts %}

<script>
  const showpage = 'showpage_container';

  var _list_id = ''; //선택한 주문 id
  var _reason = ''; //취소 or 거절 사유
  var _elem = ''; // [예약] 선택한 list elem
  var _reject_array = [];
  var _complete_arrary = [];

  var is_first_timeset = true; // 시간변경 모달 첫 입력 Boolean

  var startDttm, endDttm; // 예약 날짜조회 Date
  var CouponStartDttm, CoupoEndDttm; // 쿠폰 날짜조회 Date
  var StampStartDttm, StampeEndDttm; // 스탬프 날짜조회 Date

  // 포스기 꺼져 있는지 체크
  var posInterval = setInterval(() => {
    $.post({
      url: "{% host_url 'res_pos_state' host 'owner' %}",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      success: (result) => {
        console.log(result);
      },
      error: (result) => {
        console.log(result.status);
      }
    })
  }, 5000)

  var eventify = function (arr, callback) {
    arr.push = function (e) {
      Array.prototype.push.call(arr, e);
      callback(arr.shift());
    };
  };

  // setInterval clear
  function intervalClear() {
    clearInterval(interval1);
    clearInterval(interval2);
  }

  // 예약관리
  async function reserve() {
    let result = await DomCallback("{% host_url 'reserve' host 'owner' %}", {
      'start_dttm': startDttm === undefined ? '' : startDttm + ' 00:00:00',
      'end_dttm': endDttm === undefined ? '' : endDttm + ' 23:59:59'
    });
    if (result.result) {
      allHide();
      show('reserve', result);
    }
  }

  // 스탬프관리
  async function stamp() {
    intervalClear();

    let result = await DomCallback("{% host_url 'stamp' host 'owner' %}", {
      'start_dttm': StampStartDttm === undefined ? '' : StampStartDttm + ' 00:00:00',
      'end_dttm': StampeEndDttm === undefined ? '' : StampeEndDttm + ' 23:59:59'
    });
    if (result.result) {
      allHide();
      show('stamp', result);
    }
  }

  // 쿠폰관리
  async function coupon() {
    intervalClear();

    let result = await DomCallback("{% host_url 'coupon' host 'owner' %}", {});
    if (result.result) {
      allHide();
      show('coupon', result);
    }
  }

  // 가게관리
  async function setting() {
    intervalClear();

    let result = await DomCallback("{% host_url 'setting' host 'owner' %}", {});
    if (result.result) {
      allHide();
      show('setting', result);
      onToggleReserve()
    }
  }


  /* ================= modal ================= */

  async function reserveReject(elem, list_id) {

    _list_id = list_id;
    _elem = elem;

    let result = await DomCallback("{% host_url 'reserve_reject' host 'owner' %}", {});
    if (result.result) {
      modalShow('예약 거절 사유 선택', result);
    }
  }


  async function reserveCancel(elem, list_id) {

    _list_id = list_id;
    _elem = elem;

    let result = await DomCallback("{% host_url 'reserve_cancel' host 'owner' %}", {});
    if (result.result) {
      modalShow('예약 취소 사유 선택', result);
    }
  }

  async function stampApply() {
    let result = await DomCallback("{% host_url 'stamp_apply' host 'owner' %}", {});
    if (result.result) {
      modalShow('스탬프 적립 신청 내역', result);
    }
  }

  async function stampSaving() {
    let result = await DomCallback("{% host_url 'stamp_saving' host 'owner' %}", {});
    if (result.result) {
      modalShow('스탬프 적립하기', result);
    }
  }

  async function couponApply() {
    let result = await DomCallback("{% host_url 'coupon_apply' host 'owner' %}", {});
    if (result.result) {
      modalShow('쿠폰 사용 신청 내역', result);
    }
  }

  async function couponUse() {
    let result = await DomCallback("{% host_url 'coupon_use' host 'owner' %}", {});
    if (result.result) {
      modalShow('쿠폰 사용 요청', result);
    }
  }

  async function couponSidemenu() {
    let result = await DomCallback("{% host_url 'coupon_sidemenu' host 'owner' %}", {});
    if (result.result) {
      modalShow("사이드 메뉴", result);
      couponType = 1;
    }
  }
  async function couponDiscount() {
    let result = await DomCallback("{% host_url 'coupon_discount' host 'owner' %}", {});
    if (result.result) {
      modalShow("할인 쿠폰", result);
      couponType = 0;
    }
  }


  async function settingTime() {
    let result = await DomCallback("{% host_url 'setting_time' host 'owner' %}", {});
    if (result.result) {
      modalShow('시간 변경', result);
      is_first_timeset = true;
    }
  }

  async function settingNotice(notice_id) {
    let result = await DomCallback("{% host_url 'setting_notice' host 'owner' %}", {
      'notice_id': notice_id
    });
    if (result.result) {
      modalShow('고잇 공지사항', result);
    }
  }

  /* ================= toggle function ================= */

  function onClickToggle(el, state = true) {

    $(el).css('point-events', 'none');

    var is_toggle = true;

    if ($(el).hasClass('on')) {

      $(el).removeClass('on');
      is_toggle = false;

    }
    else $(el).addClass('on');

    is_reserve(is_toggle, state);

    $(el).css('point-events', 'default');
  }

  /* ================= spa function ================= */

  const DomCallback = function (url, params) {

    showLoading();

    params['csrfmiddlewaretoken'] = '{{ csrf_token }}';

    return new Promise((result) => {

      $.ajax({
        url: url,
        type: "POST",
        data: params,
        success: (data) => {
          result({
            'result': true,
            'msg': '',
            'data': data
          });
        },
        error: (data) => {

          Swal.fire({
            icon: 'warning',
            text: `서버와의 연결이 원활하지 않습니다.`,
            confirmButtonText: '확인',
            confirmButtonColor: '#ff0034'
          })

          result({
            'result': false,
            'msg': '',
            'data': data
          });

          hideLoading();
        }
      });
    });
  }

  function show(id, result) {
    try {
      $('.content_box').append(`<div class="${showpage}" id="${id}"></div>`);
      $(`#${id}`).html(result.data);

      setTimeout(() => {
        $(`.${showpage}`).addClass('on');
        hideLoading();
      }, 10)
      onActiveNav(id);
    }
    catch (error) {
      Swal.fire({
        icon: 'warning',
        text: `서버와의 연결이 원활하지 않습니다.`,
        confirmButtonText: '확인',
        confirmButtonColor: '#ff0034'
      })
      hideLoading();
    }

  }

  function hide(id) {
    try {
      $(`#${id}`).remove();
    } catch (error) {
      Swal.fire({
        icon: 'warning',
        text: `서버와의 연결이 원활하지 않습니다.`,
        confirmButtonText: '확인',
        confirmButtonColor: '#ff0034'
      })
      hideLoading();
    }
  }

  function allHide() {
    try {
      $(`.${showpage}`).remove();
      $('.gj-modal').remove();
      // $('.gj-picker').remove();
    } catch (error) {
      Swal.fire({
        icon: 'warning',
        text: `서버와의 연결이 원활하지 않습니다.`,
        confirmButtonText: '확인',
        confirmButtonColor: '#ff0034'
      })
      hideLoading();
    }
  }


  function lastHide() {
    try {
      $(`.${showpage}`).eq(-1).remove();
    } catch (error) {
      Swal.fire({
        icon: 'warning',
        text: `서버와의 연결이 원활하지 않습니다.`,
        confirmButtonText: '확인',
        confirmButtonColor: '#ff0034'
      })
      hideLoading();
    }
  }


  function modalShow(title, result) {
    try {
      $('.modal_content').html(result.data);
      $('.modal_container').addClass('on');
      $('.modal_title').html(title);
      hideLoading();
    }
    catch (error) {
      Swal.fire({
        icon: 'warning',
        text: `서버와의 연결이 원활하지 않습니다.`,
        confirmButtonText: '확인',
        confirmButtonColor: '#ff0034'
      })
      hideLoading();
    }
  }
  function modalClose() {
    $('.modal_container').removeClass('on');
  }


  function showLoading() {
    $('body').append(`
      <div class="loading_bg">
        <div class="spinner"></div>
      </div>
    `)
  }

  function hideLoading() {
    $('.loading_bg').remove();
  }

  function onActiveNav(navId) {
    $('.side_nav_item').removeClass('on');
    $(`#${navId}_nav`).addClass('on');
  }

  function hideNav() {
    $('.side_nav').addClass('disable');
    $('.nav_header').addClass('disable');
    $('.content_box').addClass('on');
  }

  function showNav() {
    $('.side_nav').removeClass('disable');
    $('.nav_header').removeClass('disable');
    $('.content_box').removeClass('on');
  }


  var docV = document.documentElement;
  // 전체화면 설정
  function openFullScreenMode() {
    if (docV.requestFullscreen)
      docV.requestFullscreen();
    else if (docV.webkitRequestFullscreen) // Chrome, Safari (webkit)
      docV.webkitRequestFullscreen();
    else if (docV.mozRequestFullScreen) // Firefox
      docV.mozRequestFullScreen();
    else if (docV.msRequestFullscreen) // IE or Edge
      docV.msRequestFullscreen();
  }

  function close_frm() {

    closefrm.call();

  }

  function exit_frm() {
    Swal.fire({
      icon: 'question',
      text: '정말로 프로그램을 종료하시겠습니까?',
      showCancelButton: true,
      cancelButtonText: '취소',
      confirmButtonText: '확인',
      confirmButtonColor: '#ff0034'
    }).then((result) => {
      if (result.value) {
        onClickToggle($('.toggle'), false);
        closefrm.exit();
      }
    });
  }

  // 전체화면 해제
  function closeFullScreenMode() {
    if (document.exitFullscreen)
      document.exitFullscreen();
    else if (document.webkitExitFullscreen) // Chrome, Safari (webkit)
      document.webkitExitFullscreen();
    else if (document.mozCancelFullScreen) // Firefox
      document.mozCancelFullScreen();
    else if (document.msExitFullscreen) // IE or Edge
      document.msExitFullscreen();
  }

  function winClose() {
    top.window.open('about:blank', '_self').close();
    top.window.opener = self;
    top.self.close();
  }

  function getTodayFormat() {
    const date = new Date();
    const year = date.getFullYear();
    const month = ("0" + (1 + date.getMonth())).slice(-2);
    const day = ("0" + date.getDate()).slice(-2);

    StampStartDttm = `${year}.${month}.${day}`;
    StampeEndDttm = `${year}.${month}.${day}`;

    return (`${year}.${month}.${day}`);
  }


  function is_reserve(reserve, state) {

    var params = {
      'csrfmiddlewaretoken': '{{ csrf_token }}',
      'reserve': reserve
    }

    $.ajax({
      url: "{% host_url 'reverse' host 'owner' %}",
      type: "POST",
      data: params,
      success: function (result) {
        if (state) {
          Swal.fire({
            icon: 'success',
            text: '상태가 변경되었습니다.',
            confirmButtonText: '확인',
            confirmButtonColor: '#ff0034'
          })
        }

      },
      error: function (result) {
        Swal.fire({
          icon: 'warning',
          text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
          confirmButtonText: '확인',
          confirmButtonColor: '#ff0034'
        })

        hideLoading();
      }
    });

  }

</script>