{% extends 'app_owner/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner/stamp/css/stamp.css' %}">
{% endblock css %}

{% block content %}

<div class="stamp">
    <div class="stamp_title">
        <h2>스탬프 적립 내역</h2>
        <p>이번 달 총 적립: <span>00개</span></p>
    </div>

    <div class="stamp_list">
        <ul>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>
            <li>
                <div class="days">
                    <p>2021.07.28 AM 12:29</p>
                </div>
                <div class="phon">
                    <p>010-****-1234</p>
                </div>
            </li>

        </ul>
    </div>
</div>


</div>

{% endblock content %}