{% extends 'app_owner_dotnet/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner_dotnet/setting_detail/css/setting_detail.css' %}">
{% endblock css %}

{% block content %}

<div class="setting_wrap">
    <div class="btn_wrap">
        <div class="reserve_btn menu_btn">
            <a href="{% host_url 'setting_dotnet' host 'owner' %}">예약 관리</a>
        </div>
        <div class="setting_btn menu_btn active">
            <a href="{% host_url 'reserve_dotnet' host 'owner' %}">설정</a>
        </div>
    </div>

    <div class="setting_content">
        <div class="setting_inner">
            <div class="setting_left_area">
                <div class="info_wrap">
                    <div class="info_title">
                        <h2>가게 정보 관리</h2>
                    </div>
                    <div class="info_content">
                        <div class="info_alert">
                            <h3>실시간 예약</h3>
                            <div class="info_alert_img alert_img_on" onclick="switchBtn('on')">
                                <img src="{% static 'app_owner_dotnet/setting_detail/images/switch.png' %}" alt="">
                            </div>
                            <div class="info_alert_img alert_img_off active" onclick="switchBtn('off')">
                                <img src="{% static 'app_owner_dotnet/setting_detail/images/switch_off.png' %}" alt="">
                            </div>
                        </div>

                        <div class="info_explain">
                            <em></em>
                            <p>예약을 끄면 고잇 앱 내 '실시간 예약가능' <br>
                                음식점 목록에 보이지 않습니다.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="times_wrap">
                    <div class="times_list">
                        <ul>
                            <li>
                                <div class="times_title">
                                    <h3>영업 시간 관리</h3>
                                </div>
                                <div class="times_list_inner">
                                    <div class="times_content">
                                        <div class="open">
                                            <span>오픈</span>
                                            <div class="open_btn" onclick="changeModal(this, 'open')">
                                                <p class="open_val">10:00</p>
                                            </div>
                                        </div>
                                        <div class="open">
                                            <span>마감</span>
                                            <div class="open_btn close_btn" onclick="changeModal(this, 'end')">
                                                <p class="end_val">10:00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save_btn">
                                        <a href="javascript:;">저장</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="times_title">
                                    <h3>브레이크 타임</h3>
                                    <div class="auto_login">
                                        <div class="auto_btn_wrap">
                                            <input type="checkbox" id="auto_login" checked>
                                            <label for="auto_login"><em></em>없음</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="times_list_inner">
                                    <div class="times_content times_brake">
                                        <div class="open">
                                            <span style="color:#fff;">오픈</span>
                                            <div class="open_btn" onclick="changeModal(this, 'brake_open')">
                                                <p class="brake_open">10:00</p>
                                            </div>
                                        </div>
                                        <div class="open close">
                                            <span>~</span>
                                            <div class="open_btn close_btn" onclick="changeModal(this, 'brake_end')">
                                                <p class="brake_end">10:00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save_btn">
                                        <a href="javascript:;">저장</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="times_title">
                                    <h3>휴무일 지정</h3>
                                </div>
                                <div class="times_content times_select">
                                    <div class="open">
                                        <span>매주</span>
                                        <div class="week_area" onclick="week(this)">
                                            <p>월요일</p>
                                        </div>
                                        <div class="week_list">
                                            <ul>
                                                <li>
                                                    <p>월요일</p>
                                                </li>
                                                <li>
                                                    <p>화요일</p>
                                                </li>
                                                <li>
                                                    <p>수요일</p>
                                                </li>
                                                <li>
                                                    <p>목요일</p>
                                                </li>
                                                <li>
                                                    <p>금요일</p>
                                                </li>
                                                <li>
                                                    <p>토요일</p>
                                                </li>
                                                <li>
                                                    <p>일요일</p>
                                                </li>
                                                <li>
                                                    <p>없음</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="save_btn">
                                        <a href="javascript:;">저장</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="setting_right_area">
                <div class="notice_wrap">
                    <div class="notice_title">
                        <h2>공지사항</h2>
                    </div>

                    <div class="notice_list">
                        <ul>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">고잇 공지사항 1</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="problem">
                    <div class="problem_txt">
                        <p>프로그램 사용에 문제가 있으신가요? <br>
                            고잇팀(<span>070-4006-7014</span>)에 문의해 주세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'app_owner_dotnet/setting_detail/modal/time_modal.html' %}
{% include 'app_owner_dotnet/setting_detail/modal/notice_modal.html' %}
{% endblock content %}

{% block bottom_js %}
<script>

    function switchBtn(type) {
        var btnType = type;

        if (btnType === 'off') {
            $('.alert_img_off').removeClass('active');
            $('.alert_img_on').addClass('active');
        } else if (btnType === 'on') {
            $('.alert_img_on').removeClass('active');
            $('.alert_img_off').addClass('active');
        }
    }

    let modal_type;
    function week(el) {
        var Sib = $(el).siblings('.week_list')[0];

        if (!($(Sib).hasClass('active'))) {
            $(Sib).addClass('active');
        }
    }

    $('.week_list li p').click(function () {
        var listText = $(this).text();

        $('.week_area p').text(listText);
        $('.week_list').removeClass('active');
    })

    // modal 

    function changeModal(el, type) {
        modal_type = type;
        var timeInput = $('.times_input_box input');
        console.log(timeInput);
        $('.change_modal, .dark_bg').fadeIn(300);
        $('body').css('overflow', 'hidden');
        $(timeInput).val('');
        modalClose();
    }

    function modalClose() {
        $('.dark_bg, .header_close_img').click(function () {
            $('.change_modal, .dark_bg').fadeOut(300);
        })
    }

    $('.notice_list li a').click(function () {
        $('.notice_modal, .dark_bg').fadeIn(300);
    })

    $('.dark_bg, .header_close_img').click(function () {
        $('.notice_modal, .dark_bg').fadeOut(300);
    })

    var focus_type = 'h';

    $('#hour').focus(function () {
        // $(this).val('');
        focus_type = 'h';
    })

    $('#minute').focus(function () {
        // $(this).val('');
        focus_type = 'm';
    })

    var count = 1;
    $('.key').click(function () {
        var numVal = $('.key').text();

        if (focus_type === 'h') {
            if (count === 1) {
                $('#hour').val($(this).text());

                var num1 = $('#hour').val() > 2;
                if (num1) {
                    alert('24시간 이상은 입력이 불가능합니다.');
                    $('#hour').val('');
                    return;
                }

                return count++;
            } else if (count === 2) {
                var num;

                var num2 = (/[5-9]/);
                if (num2.test($(this).text())) {
                    alert('24시간 이상은 입력이 불가능합니다.');
                    return;
                }

                num = $('#hour').val() + $(this).text();
                $('#hour').val(num);

                $('#minute').focus();
                if ($('#hour').val() == 24) {
                    $('#minute').val('00');
                    return count--;
                }
                return count++;
            }
        }

        if (focus_type === 'm') {
            if (count === 3) {
                $('#minute').val($(this).text());
                var num3 = (/[6-9]/);
                if (num3.test($(this).text())) {
                    alert('어쩌라고');
                    $('#minute').val('');
                    return;
                }
                count++;

            } else if (count === 4) {
                var num;
                num = $('#minute').val() + $(this).text();
                $('#minute').val(num);
                count = 1;
            }
        }

    })

    $('.del').click(function () {
        var timeInput = $('.times_input_box input');


        if (timeInput.focus()) {
            $(timeInput).val('');
            $('#hour').focus();
            count = 1;

            return count;
        }
    })

    $('.save_btn').click(function () {
        var hourVal = $('#hour').val();
        var minute = $('#minute').val();
        var border = $('.times_input_box span').text();
        var timeInputVal = hourVal + border + minute;

        if (timeInputVal == "") {
            alert('시간을 입력해주세요');
        } else if (minute == "") {
            alert('분 단위를 작성해주세요');
        }

        if (modal_type === 'open') {
            $('.open_val').text(timeInputVal);
        } else if (modal_type === 'end') {
            $('.end_val').text(timeInputVal);
        } else if (modal_type === 'brake_open') {
            $('.brake_open').text(timeInputVal);
        } else if (modal_type === 'brake_end') {
            $('.brake_end').text(timeInputVal);
        }
        btn_close();
    })



    function btn_close() {
        $('.save_btn a').click(function () {
            $('.change_modal, .dark_bg').fadeOut(300);
        })
    }


</script>
{% endblock bottom_js %}

<!-- else {
$('.open_btn p').text(timeInputVal);
} -->