{% load static %}
{% load hosts %}
{% load version %}

<link rel="stylesheet" href="{% static 'app_owner/base/css/counter.css' %}?version={{ 'version'|version }}">
<link rel="stylesheet" href="{% static 'app_owner/coupon/modal/apply/css/style.css' %}?version={{ 'version'|version }}">

<ul class="coupon_list scroll_style">
  {% for item in apply_list %}
  <li class="coupon_item">
    <div class="user">
      <p class="title">
        {{ item.user.username }}
      </p>
      <p class="desc">
        {{ item.user.name }}(#{{ item.user.goeat_id }})
      </p>
    </div>
    <div class="coupon_info">
      <p class="coupon_name">
        {{ item.user_coupon.user_coupon_content }}
      </p>
      <p class="coupon_code">
        {{ item.user_coupon.user_coupon_key }}
      </p>
      <p class="coupon_expiry">
        유효기간: {{ item.user_coupon.user_coupon_start_dttm|date:'y.m.d' }} ~ {{ item.user_coupon.user_coupon_end_dttm|date:'y.m.d' }}
      </p>
    </div>
    <div class="other">
      <span class="other_time">{{ item.coupon_create_dttm|date:'Y.m.d H:i' }}</span>
      <div class="button_wrap">
        <button class="btn_fill" onclick="applyCouponConfirm('{{item.id}}')">확인하기</button>
        <button class="btn_border" onclick="applyCouponCancel('{{item.id}}')">취소하기</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% include 'app_owner/coupon/modal/apply/js.html' %}