{% extends 'app_owner_dotnet/base/index.html' %}
{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner_dotnet/login/css/login.css' %}">
{% endblock css %}

{% block content %}

<div class="login">
    <div class="login_title">
        <h2>사장님 로그인</h2>
    </div>

    <form action="" method="POST">
        <div class="form_inner">
            <div class="user_info">
                <div class="id">
                    <label for="">아이디</label>
                    <input type="text">
                </div>
                <div class="pw">
                    <label for="">비밀번호</label>
                    <input type="text">
                </div>
            </div>
            <div class="submit">
                <button type="button">
                    <div class="btn_img">
                        <img src="{% static 'app_owner_dotnet/login/images/d_login_btn_ico.png' %}" alt="">
                    </div>
                    <span>로그인</span>
                </button>

            </div>
        </div>
        <div class="auto_login">
            <div class="auto_btn_wrap">
                <input type="checkbox" id="auto_login" checked>
                <label for="auto_login"><em></em>자동 로그인</label>
            </div>
        </div>
    </form>

    <div class="fail">
        <p>로그인에 실패하였습니다. <br>
            아이디 / 비밀번호 찾기는 고잇 팀 (<a href="tel:070-4006-7014">070-4006-7014</a>)에 문의해 주세요.
        </p>
    </div>
</div>

{% endblock content %}