.reject_content {
  padding: 20px;
  width: 380px;
}

.reject_content button {
  height: 35px;
  width: 100%;
  font-size: 20px;
}

.radio_wrap {
  width: 100%;
}
.radio_wrap .radio {
  display: block;
  margin-bottom: 20px;
}

.radio_style {
  width: 100%;
  background-color: #fff;
  color: #ff0034;
  border: 1px solid #ff0034;
  border-radius: 12px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
}

.radio_wrap input {
  display: none;
}
.radio_wrap input:checked + .radio_style {
  background-color: #ff0034;
  color: #fff;
}
