{% load static %}

<!-- font
            ================================================== -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
<!-- icon
            ================================================== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

<!-- CSS 
                ================================================== -->
<link rel="stylesheet" href="{% static 'app_owner/base/css/base.css' %}">