{% extends 'app_owner_dotnet/base/index.html' %}

{% load hosts %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_owner_dotnet/alert/css/alert.css' %}">
{% endblock css %}

{% block content %}

<div class="alert_wrap">
    <div class="alert_inner">
        <div class="logo_img">
            <img src="{% static 'app_owner_dotnet/alert/images/goeat_logo.png' %}" alt="">
        </div>
        <div class="alert_txt">
            <p>새로운 예약 신청이 도착했습니다!</p>
        </div>
    </div>
</div>


{% endblock content %}

{% block bottom_js %}

{% endblock bottom_js %}