{% load static %}
{% load hosts %}

<link rel="stylesheet" href="{% static 'app_owner/base/css/numberpad.css' %}">

<div class="number_modal">
  <div class="numer_content">
    <div class="number_layout">
      <div class="number_header">
        <div class="phon_input">
          <p>
            휴대폰 번호
          </p>
          <input id="coupon_phon" type="text" value="" readonly>
        </div>
        <div class="select_wrap">
          <p>
            쿠폰
          </p>
          <div class="coupon_select">
            <div class="coupon_select_box" onclick="onClickSelectBox()">
              <input class="coupon_select_input" type="text" value="" readonly>
              <img class="down_arrow" src="{% static 'app_owner/base/images/down_arrow.svg' %}" alt="">
            </div>
            <ul class="select_option">
              <li>
                1,000원 할인
              </li>
              <li>
                2,000원 할인
              </li>
              <li>
                3,000원 할인
              </li>
              <li>
                감자튀김
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="number_desc">
        <!-- <div class="search_result">
          <p>
            <span class="title">이름 : </span>
            <span class="value">이준석</span>
          </p>
          <p>
            <span class="title">아이디 : </span>
            <span class="value">MFNJ</span>
          </p>
        </div> -->
        <div class="search_not">
          <p>
            없는 이름 / 아이디 입니다.<br />
            스탬프 적립이 안됩니다.<br /><br />
            다시 한번 휴대폰 번호를 입력해주세요.
          </p>
        </div>

      </div>
      <div class="button_wrap">
        <button class="btn_fill">
          확인 하기
        </button>
        <div class="button_wrap">
          <button class="btn_fill" onclick="modalClose()">
            취소 하기
          </button>
          <button class="btn_border">
            적립 하기
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="number_pad">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>.</button>
    <button>0</button>
    <button>
      <img src="{% static 'app_owner/base/images/delete.svg' %}" alt="">
    </button>
  </div>
</div>
<script src="{% static 'app_owner/base/js/utility.js' %}"></script>
{% include 'app_owner/coupon/modal/use/js.html' %}