{% load hosts %}
{% load static %}

<div class="arrival_modal">
    <div class="dark_bg"></div>
    <div class="arrival_modal_content">
        <div class="arrival_header">
            <p>도착한 예약</p>
            <div class="header_close_img">
                <img src="{% static 'app_owner_dotnet/setting_detail/images/modal_close.png' %}" alt="">
            </div>
        </div>
        <div class="arrival_list">
            <ul>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn modal_cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="arrival_left_area">
                        <div class="modal_time">
                            <p>11:25</p>
                        </div>
                        <div class="modal_length">
                            <p>3명</p>
                        </div>
                    </div>
                    <div class="arrival_right_area">
                        <div class="tel">
                            <p>050-2932-1111</p>
                        </div>
                        <div class="list_btn_wrap">
                            <div class="check_btn">
                                <a href="javascript:;">예약 승인</a>
                            </div>
                            <div class="cancel_btn">
                                <a href="javascript:;">예약 거절</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>