{% load hosts %}
{% load static %}
<!-- modal -->
<div class="reserve_modal">
    <div class="dark_bg"></div>
    <div class="reserve_modal_content">
        <div class="request_btn">
            <a href="javascript:;" class="active">고객 요청</a>
        </div>
        <div class="request_btn">
            <a href="javascript:;">가게 요청</a>
        </div>
        <div class="request_btn">
            <a href="javascript:;">기타 사정</a>
        </div>
        <div class="save_btn">
            <a href="javascript:;">확인</a>
        </div>
    </div>
</div>