{% load hosts %}
{% load static %}
<!-- modal -->
<div class="reserve_modal">
    <div class="reserve_dark_bg"></div>
    <div class="reserve_modal_content">
        <div class="reserve_header">
            <p>예약 거절 사유 선택</p>
            <div class="reserve_close_img">
                <img src="{% static 'app_owner_dotnet/setting_detail/images/modal_close.png' %}" alt="">
            </div>
        </div>
        <div class="reserve_btn_box">
            <div class="request_btn">
                <a href="javascript:;" class="active">고객 요청</a>
            </div>
            <div class="request_btn">
                <a href="javascript:;">가게 요청</a>
            </div>
            <div class="request_btn">
                <a href="javascript:;">기타 사정</a>
            </div>
            <div class="save_btn">
                <a href="javascript:;">확인</a>
            </div>
        </div>
    </div>
</div>