{% load static %}
{% load hosts %}

<link rel="stylesheet" href="{% static 'app_owner/base/css/numberpad.css' %}">
<link rel="stylesheet" href="{% static 'app_owner/base/css/counter.css' %}">

<div class="number_modal">
  <div class="numer_content">
    <div class="number_layout">
      <div class="number_header">
        <div class="phon_input">
          <p>
            휴대폰 번호
          </p>
          <input id="stamp_phon" type="text" value="" readonly>
        </div>
        <div class="counter">
          <button class="count_down">
            <img src="{% static 'app_owner/base/images/arrowcircle.svg' %}" alt="">
          </button>
          <p class="counter_text"><span class="counter_value"></span>개 적립</p>
          <button class="count_up">
            <img class="right_arrow" src="{% static 'app_owner/base/images/arrowcircle.svg' %}" alt="">
          </button>
        </div>
      </div>
      <div class="number_desc">
        <!-- <div class="search_result">
          <p>
            <span class="title">이름 : </span>
            <span class="value">이준석</span>
          </p>
          <p>
            <span class="title">아이디 : </span>
            <span class="value">MFNJ</span>
          </p>
        </div> -->
        <div class="search_not">
          <p>
            없는 이름 / 아이디 입니다.<br />
            스탬프 적립이 안됩니다.<br /><br />
            다시 한번 휴대폰 번호를 입력해주세요.
          </p>
        </div>

      </div>
      <div class="button_wrap">
        <button class="btn_fill">
          확인 하기
        </button>
        <div class="button_wrap">
          <button class="btn_fill" onclick="modalClose()">
            취소 하기
          </button>
          <button class="btn_border">
            적립 하기
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="number_pad">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>.</button>
    <button>0</button>
    <button>
      <img src="{% static 'app_owner/base/images/delete.svg' %}" alt="">
    </button>
  </div>
</div>
{% include 'app_owner/stamp/modal/saving/js.html' %}