{% load hosts %}
{% load static %}

<div class="notice_modal">
    <div class="dark_bg"></div>
    <div class="notice_modal_content">
        <div class="notice_modal_header">
            <p>예약 거절 사유 선택</p>
            <div class="header_close_img">
                <img src="{% static 'app_owner_dotnet/setting_detail/images/modal_close.png' %}" alt="">
            </div>
        </div>
        <div class="notice_txt_box">
            <div class="notice_txt">
                <p>고잇 공지사항 내용 ~~~~ <br>
                    (HTML)
                </p>
            </div>
            <div class="notice_txt">
                <p>고잇 공지사항 내용 ~~~~ <br>
                    (HTML)
                </p>
            </div>
        </div>
    </div>
</div>