{% load static %}
{% load hosts %}
<!-- modal -->
<div class="change_modal">
    <div class="dark_bg"></div>
    <div class="change_modal_inner">
        <div class="change_header">
            <p>시간변경</p>
            <div class="header_close_img">
                <img src="{% static 'app_owner_dotnet/setting_detail/images/modal_close.png' %}" alt="">
            </div>
        </div>
        <div class="change_modal_01">
            <div class="times_input_box">
                <input type="text" id="hour" class="hour" value="">
                <input type="text" id="minute" class="minute" name="minute" value="">
                <span>:</span>
            </div>
            <div class="info_explain">
                <em></em>
                <p>원하는 시간을 입력해 주세요. <br>
                    예) 1000 입력 -> 10:00
                </p>
            </div>
            <div class="save_btn">
                <a href="javascript:;">저장</a>
            </div>
        </div>

        <div class="change_modal_02">
            <div class="number_list">
                <ul class="number_box">
                    <li>
                        <p class="key">1</p>
                    </li>
                    <li>
                        <p class="key">2</p>
                    </li>
                    <li>
                        <p class="key">3</p>
                    </li>
                    <li>
                        <p class="key">4</p>
                    </li>
                    <li>
                        <p class="key">5</p>
                    </li>
                    <li>
                        <p class="key">6</p>
                    </li>
                    <li>
                        <p class="key">7</p>
                    </li>
                    <li>
                        <p class="key">8</p>
                    </li>
                    <li>
                        <p class="key">9</p>
                    </li>
                    <li>
                        <p class="key">.</p>
                    </li>
                    <li>
                        <p class="key">0</p>
                    </li>
                    <li class="del">
                        <img src="{% static 'app_owner_dotnet/setting_detail/images/modal_number.png' %}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>