{% load hosts %}
{% load static %}

<script>
  var couponList = new Array;
  var couponType;

  // 쿠폰 리스트 Create
  function createCoupon() {
    console.log(couponList);
    var parmas = {
      'csrfmiddlewaretoken': '{{ csrf_token }}',
      'coupon_list': couponList,
      'coupon_type': couponType
    }

    $.post({
      url: "{% host_url 'create_coupon' host 'owner' %}",
      header: {
        "Content-Type": "application/json"
      },
      data: parmas,
      success: (result) => {
        // $('.couponadd_list').empty();
        // couponList.splice(0, couponList.length);
        // allHide();
        // coupon();
      },
      error: (result) => {
        Swal.fire({
          icon: 'warning',
          text: `서버와의 연결이 원활하지 않습니다.[ERROR:${result.status}]`,
          confirmButtonText: '확인',
          confirmButtonColor: '#ff0034'
        });
      }
    })
  }

  // 추가한 쿠폰 array에 추가
  function addCoupon() {
    if (inputCheck()) {
      couponList.push({
        'coupon_content': $('#side_menu').val(),
        'coupon_count': $('#stamp_count').val(),
        'coupon_start_dttm': $('#issue_date').val(),
      })
    }

    console.log($('#side_menu').val());
    console.log($('#stamp_count').val());
    console.log($('#issue_date').val());

    console.log(couponList);

    viewAddCoupon(couponList);
  }

  // 추가한 쿠폰 리스트에 추가
  function viewAddCoupon(arr) {
    $('.couponadd_list').empty();

    arr.forEach((item, idx, arr) => {
      $('.couponadd_list').append(`
        <li class="item" data-index="${idx}">
          <div class="order">
            <span class="order_number">
              ${idx + 1}
            </span>
          </div>
          <div class="text_box">
            <p class="text">
              ${item.coupon_content}
            </p>
            <p class="text">
              ${item.coupon_count}
            </p>
            <p class="text">
              ${item.coupon_start_dttm}
            </p>
          </div>
          <div class="button_wrap">
            <button class="content_btn btn_fill" onclick="removeCoupon(${idx})">삭제</button>
          </div>
        </li>
    `);
    })
  }

  // 모달 쿠폰 목록 지우기
  function removeCoupon(idx) {
    couponList.splice(idx, 1);
    $(`.couponadd_list .item[data-index='${idx}']`).remove();
  }

  function inputCheck() {
    if ($('#side_menu').val() == '') { alert('사이드메뉴를 입력해주세요.'); return false; }
    else if ($('#stamp_count').val() == '') { alert('스템프 갯수를 입력해주세요.'); return false; }
    else if ($('#issue_date').val() == '') { alert('발급일자를 입력해주세요.'); return false; }
    else { return true; }
  }


  ////////////////////////////////////////////////////////////


  var couponInputAll = document.querySelectorAll(".couponadd_input");
  var couponInput = document.querySelector(".couponadd_input");
  var couponAddNumberPad = document.querySelectorAll(".number_pad button");

  couponAddNumberPad.forEach(el => el.addEventListener('click', e => {
    if (!e.target.innerText) return onClickDelete();

    onClickNumber(e.target.innerText);
  }));

  couponInputAll.forEach(v => v.addEventListener('click', el => {
    couponInput = el.target;
  }));

  function onClickNumber(value) {

    if (couponInput.dataset.name === "스탬프갯수") {
      if (couponInput.value.length === 2) return;
    }

    if (couponInput.dataset.name === "발급일자") {
      if (couponInput.value.length === 8) return;
      couponInput.value = inputDateNumber(couponInput.value.concat(value));
      return;
    }

    couponInput.value = couponInput.value.concat(value);
  }

  function onClickDelete() {
    couponInput.value = couponInput.value.substr(0, couponInput.value.length - 1);
  }


</script>