{% load static %}
{% load hosts %}

<link rel="stylesheet" href="{% static 'app_owner/base/css/numberpad.css' %}">
<link rel="stylesheet" href="{% static 'app_owner/coupon/modal/add/css/style.css' %}">

<div class="number_modal">
  <div class="numer_content">
    <div class="number_layout">
      <div class="couponadd_notice">
        <p>
          <span class="title">
            유효기간 :
          </span>
          <span>
            발급날짜부터 6개월 동안 사용 가능
          </span>
        </p>
        <p>
          쿠폰 삭제 시 이미 발급받은 쿠폰은 이용가능
        </p>
      </div>
      <div class="couponadd_box">
        <div class="couponadd_header">
          <div class="order">

          </div>
          <div class="text_box">
            <div class="input_wrap">
              <p class="input_title">할인 금액</p>
              <input class="couponadd_input" id="discount" type="text" data-name="할인금액" readonly>
            </div>
            <div class="input_wrap">
              <p class="input_title">
                스탬프 갯수
                <span class="sub_text">
                  (1 ~ 10개)
                </span>
              </p>
              <input class="couponadd_input" id="dis_stamp_count" type="text" data-name="스탬프갯수" readonly>
            </div>
            <div class="input_wrap">
              <p class="input_title">발급일자</p>
              <input class="couponadd_input" id="dis_issue_date" type="text" data-name="발급일자" readonly>
            </div>
          </div>
          <div class="button_wrap">
            <button class="content_btn btn_fill" onclick="onAddCouponItem()">추가</button>
          </div>
        </div>
        <div class="list_wrap">
          <ul class="couponadd_list scroll_style">

          </ul>
        </div>
        <div class="couponadd_footer">
          <button class="btn_fill">
            저장
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="number_pad">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>.</button>
    <button>0</button>
    <button>
      <img src="{% static 'app_owner/base/images/delete.svg' %}" alt="">
    </button>
  </div>
</div>
<script src="{% static 'app_owner/base/js/utility.js' %}"></script>
{% include 'app_owner/coupon/modal/discount/js.html' %}