{% load static %}
{% load hosts %}
{% load version %}

<link rel="stylesheet" href="{% static 'app_owner/reserve/modal/reject/css/style.css' %}?version={{ 'version'|version }}">

<div class="reject_content">
  <div class="radio_wrap">
    <label class="radio">
      <input name="cancel" type="radio" value="고객 요청">
      <p class="radio_style">
        고객 요청
      </p>
    </label>
    <label class="radio">
      <input name="cancel" type="radio" value="음식점 사정">
      <p class="radio_style">
        음식점 사정
      </p>
    </label>
    <label class="radio">
      <input name="cancel" type="radio" value="예약 취소(고객 노쇼)">
      <p class="radio_style">
        고객 노쇼
      </p>
    </label>
  </div>

  <button class="btn_fill" onclick="submit_reserveCancel()">
    확인
  </button>
</div>