{% load static %}
{% load hosts %}
{% load version %}

<link rel="stylesheet" href="{% static 'app_owner/setting/css/style.css' %}?version={{ 'version'|version }}">

<div class="setting_box">
  <div class="left_content scroll_style">
    <h2 class="section_title">
      가게 정보 관리
    </h2>

    <div class="time_set_wrap">
      <div class="time_set_item">
        <div class="time_header">
          <span class="title">
            영업시간 관리
          </span>
        </div>
        <div class="time_set">
          <div class="time">
            <p class="time_title">
              시작
            </p>
            <p class="time_text" id="open_start_time" onclick="onClickTimeText(this)">
              {{ res_data.res_open_tm|date:"H:i" }}
            </p>
          </div>
          <div class="time">
            <p class="time_title">
              종료
            </p>
            <p class="time_text" id="open_end_time" onclick="onClickTimeText(this)">
              {{ res_data.res_close_tm|date:"H:i" }}
            </p>
          </div>
          <button class="btn_fill" onclick="openTimeSave()">
            저장
          </button>
        </div>
      </div>
      <div class="time_set_item">
        <div class="time_header">
          <span class="title">
            브레이크 타임
          </span>

          <label class="check_wrap">

            <input type="checkbox" onclick="breakTimeToggle()" onchange="onChangeBrakeCheck(this)" {% if not res_data.is_breaktime %}checked{% endif %}>
            <div class="style_check">
              <svg class="time_check_icon" xmlns="http://www.w3.org/2000/svg" width="8" height="6.366" viewBox="0 0 8 6.366">
                <path d="M15.924,10.9a.734.734,0,1,1,1.048,1.028l-3.907,4.883a.734.734,0,0,1-1.057.02L9.42,14.237A.734.734,0,1,1,10.457,13.2l2.049,2.048,3.4-4.33.02-.021Z" transform="translate(-9.182 -10.676)" fill-rule="evenodd" />
              </svg>
            </div>
            <span>
              없음
            </span>
          </label>
        </div>


        <div class="time_set brake_time_set {% if res_data.is_breaktime %}on{% endif %}">
          <div class="time">
            <p class="time_title">
              시작
            </p>

            <p class="time_text" id="brake_start_time" onclick="onClickTimeText(this)">
              {{ res_data.res_break_start_tm|date:"H:i" }}
            </p>
          </div>

          <div class="time">
            <p class="time_title">
              종료
            </p>

            <p class="time_text" id="brake_end_time" onclick="onClickTimeText(this)">
              {{ res_data.res_break_end_tm|date:"H:i" }}
            </p>
          </div>

          <button class="btn_fill" onclick="breakTimeSave()">
            저장
          </button>
        </div>


      </div>
    </div>

    <div class="offday">
      <div class="offday_header">
        <p class="title">
          휴무일 지정
        </p>
        <button class="btn_fill" onclick="openDaysSave()">저장</button>
      </div>
      <div class="offday_set">

        {% for k,v in res_data.res_open_days.items %}
        <div class="week_button" id="{{k}}">
          <input name="" value="{{ v.name }}" data-key="name" type="hidden">
          <input id="week{{k}}" name="week" data-key="state" type="checkbox" {% if v.state %}checked{% endif %}>
          <label for="week{{k}}" class="week_style">
            <div class="check_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6.366" viewBox="0 0 8 6.366">
                <path d="M15.924,10.9a.734.734,0,1,1,1.048,1.028l-3.907,4.883a.734.734,0,0,1-1.057.02L9.42,14.237A.734.734,0,1,1,10.457,13.2l2.049,2.048,3.4-4.33.02-.021Z" transform="translate(-9.182 -10.676)" fill-rule="evenodd" />
              </svg>
            </div>
            <span class="week_text">
              {{ v.name }}
            </span>
          </label>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="right_content scroll_style">
    <p class="notice_title">
      공지사항
    </p>
    <ul class="notice_list">

      {% for item in res_notice %}
      <li class="notice_item" onclick="settingNotice('{{ item.id }}')">
        <span>
          {{ item.notice_title }}
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      {% endfor %}

    </ul>
  </div>
</div>
{% include 'app_owner/setting/js.html' %}