{% load static %}
{% load hosts %}
{% load version %}

<link rel="stylesheet" href="{% static 'app_owner/setting/css/style.css' %}?version={{ 'version'|version }}">

<div class="setting_box">
  <div class="left_content scroll_style">
    <h2 class="section_title">
      가게 정보 관리
    </h2>
    <div class="reserve_set">
      <span class="title">
        실시간 예약
      </span>
      <div class="toggle" onclick="onClickToggle()">
        <div class="toggle_switch">
        </div>
      </div>
    </div>
    <p class="reserve_note">
      예약을 끄면 고잇 앱 내 ‘실시간 예약 가능’<br />
      음식점 목록에 보이지 않습니다.
    </p>
    <div class="time_set_wrap">
      <div class="time_set_item">
        <div class="time_header">
          <span class="title">
            영업시간 관리
          </span>
        </div>
        <div class="time_set">
          <div class="time">
            <p class="time_title">
              시작
            </p>
            <p class="time_text" id="open_start_time" onclick="onClickTimeText(this)">
              12:00
            </p>
          </div>
          <div class="time">
            <p class="time_title">
              종료
            </p>
            <p class="time_text" id="open_end_time" onclick="onClickTimeText(this)">
              10:00
            </p>
          </div>
          <button class="btn_fill">
            저장
          </button>
        </div>
      </div>
      <div class="time_set_item">
        <div class="time_header">
          <span class="title">
            브레이크 타임
          </span>
          <label class="check_wrap">
            <input type="checkbox" onchange="onChangeBrakeCheck(this)">
            <div class="style_check">
              <svg class="time_check_icon" xmlns="http://www.w3.org/2000/svg" width="8" height="6.366" viewBox="0 0 8 6.366">
                <path d="M15.924,10.9a.734.734,0,1,1,1.048,1.028l-3.907,4.883a.734.734,0,0,1-1.057.02L9.42,14.237A.734.734,0,1,1,10.457,13.2l2.049,2.048,3.4-4.33.02-.021Z" transform="translate(-9.182 -10.676)" fill-rule="evenodd" />
              </svg>
            </div>
            <span>
              없음
            </span>
          </label>
        </div>
        <div class="time_set brake_time_set on">
          <div class="time">
            <p class="time_title">
              시작
            </p>
            <p class="time_text" id="brake_start_time" onclick="onClickTimeText(this)">
              10:00
            </p>
          </div>
          <div class="time">
            <p class="time_title">
              종료
            </p>
            <p class="time_text" id="brake_end_time" onclick="onClickTimeText(this)">
              10:00
            </p>
          </div>
          <button class="btn_fill">
            저장
          </button>
        </div>
      </div>
    </div>

    <div class="offday">
      <div class="offday_header">
        <p class="title">
          휴무일 지정
        </p>
        <button class="btn_fill">저장</button>
      </div>
      <div class="offday_set">

      </div>
    </div>
  </div>
  <div class="right_content scroll_style">
    <p class="notice_title">
      공지사항
    </p>
    <ul class="notice_list">
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>
      <li class="notice_item" onclick="settingNotice()">
        <span>
          고잇 공지사항 안내
        </span>
        <img src="{% static 'app_owner/base/images/arrow_right.svg' %}" alt="">
      </li>

    </ul>
  </div>
</div>
{% include 'app_owner/setting/js.html' %}