<script>

  // var hoursInput = document.querySelector("#hours_input");
  // var minutesInput = document.querySelector("#minutes_input");
  // var numberPadButton = document.querySelectorAll('.number_pad button')
  // var numberPad = document.querySelector(".number_pad");
  // var hoursText = [];
  // var minutesText = [];

  // async function onClickTimeChange(el) {
  //   console.log(
  //     el.innerText.split(":")[0]
  //   )
  //   try {
  //     await settingTime();
  //     hoursText = el.innerText.split(":")[0].map(v => v)
  //     minutesText = el.innerText.split(":")[1].map(v => v)
  //     hoursInput = hoursText.join("");
  //     hoursInput = minutesText.join("");
  //   } catch (e) {
  //     console.error(e)
  //   }
  // }

  // numberPadButton.forEach(el => el.addEventListener('click', (e) => {
  //   numberPadText = [...numberPadText, e.target.innerText];
  //   hoursInput.value = hoursText.join("");
  // }))

</script>