<script>
  var timeNumber = "";
  var timeTextElement = undefined;
  var timeNumberPad = document.querySelector(".number_pad");
  var timeInputAll = document.querySelectorAll(".time_input");

  timeNumberPad?.addEventListener('click', (e) => {
    if (!e.target.innerText) return onClickDelete();

    onClickNumber(e.target.innerText);
  })

  function onClickNumber(value) {
    if (timeNumber.length === 4) return;
    timeNumber = timeNumber.concat(value).replace(/[^0-9]/g, "");
    printTime();
  }

  function onClickDelete() {
    timeNumber = timeNumber.substr(0, timeNumber.length - 1);
    printTime();
  }

  function printTime() {
    timeInputAll[0].value = timeNumber.substr(0, 2);
    timeInputAll[1].value = timeNumber.substr(2, 3);
  }

  function onClickComplete() {
    timeTextElement.innerText = timeNumber.substr(0, 2) + ":" + timeNumber.substr(2, 3)
    modalClose();
  }

  async function onClickTimeText(el) {
    await settingTime();
    timeNumber = el.innerText.replace(":", "");
    timeTextElement = el;
    printTime()
  }


  //브레이크 타임 체크박스
  function onChangeBrakeCheck(e) {
    const brakeTimeSet = document.querySelector(".brake_time_set")
    if (e.checked) {
      brakeTimeSet.classList.remove("on")
    } else {
      brakeTimeSet.classList.add("on")
    }
  }


</script>